@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins&display=swap');
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
p {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1000px;
    margin: auto;
}
#hero {
    background-image: url(images/Rectangle\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}
.overley {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%);
}
.hero-content {
    width: 525px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.hero-content h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    line-height: 75px;
    margin: 0;
}
.hero-content p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 40px;
}
.btn {
    text-decoration: none;
    padding: 12px 20px;
    background: #EF233C;
    border-radius: 5px;
    color: #fff;
}
.donate-video {
    background-image: url(images/Mask\ group.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 42%;
    position: relative;
    margin-bottom: 80px;
}
.donate-video img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.donate-video2 {
    background-image: url(images/Rectangle\ 245.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 42%;
    margin-bottom: 80px;
}
.donation {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 150vh;
}
.donation-content {
    flex-basis: 42%;
}
.donation-content h2 {
    font-size: 40px;
    margin: 0;
}
.donation-content p {
    margin-bottom: 30px;
}
.lives-title {
    width: 665px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}
.lives-title h2 {
    font-size: 40px; 
}
.lives {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.lives-box {
    flex-basis: 42%;
    display: flex;
    background: #FEF4F5;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 20px;
}
.lives-icon {
    flex-basis: 15%;
}
.lives-content {
    flex-basis: 80%;
}
.lives-content h4{
    margin: 0;
}
.lives-content p {
    margin-top: 5px;
}
.gallery {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.gallery img {
    width: 31%;
}
.extend-title h2 {
    width: 800px;
    font-size: 40px;
    margin: auto;
    text-align: center;
}
.extend-title p {
    width: 500px;
    margin: 23px auto;
    text-align: center;
}
.extend {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.extend-box {
    flex-basis: 31%;
    border: 1px solid #e4e3e3;
    border-radius: 10px;
    margin-bottom: 100px;
}
.extend-box img {
    width: 100%;
}
.extend-box a {
    color: #EF233C;
    font-weight: 600;
    margin-left: 20px;
    display: block;
    padding-bottom: 35px;
}
.extend-box h4 {
    margin-left: 20px;
}
.extend-box p {
    margin-left: 20px;
}
footer {
    background-color: #000;
    text-align: center;
    padding: 40px;
}
footer h3 {
    color:#EF233C;
    font-size: 30px;
}
footer p {
    color: #fff;
}